@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
body::-webkit-scrollbar {
  width: 5px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #fff;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #001e3c;    /* цвет плашки */
    /* закругления плашки */
    /* padding вокруг плашки */
}